<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{> navbar}}
    <h1>All Blogs</h1>

    {{#each blogs as |blog|}}
    <div style="border: 1px solid black;">
        {{blog.title}}<br>
        {{blog.description}}<br><br>
        {{blog.author_id.name}}<br>
        {{blog.author_id.age}}<br>
        <button>
            <a href="/deleteblog?id={{blog._id}}">Delete Blog</a>
        </button>
    
       <button>
            <a href="/updateblog?id={{blog._id}}">Update Blog</a>
        </button>
    </div>
    {{/each}}


</body>

</html>